.container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: tan;
}

.parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.child {
    background-color: aqua;
}

.selected {
    background-color: black;
}

.button {
    display: block;
    font-size: large;
    margin: 30px auto;
    background-color:gainsboro
}

body {
    background-color: bisque;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title {
    font-size: xx-large;
    margin-top: 20px;
}